*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
::-webkit-scrollbar {
    background-color: #ded8d5; }
::-webkit-scrollbar-thumb {
        background-color: #350004;
        border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #350004; }